*{
    margin: 0;
    padding: 0;
}
/* header */
nav{
    display: flex;
    justify-content: space-around;
    background-color: #031CA6;
}

/* main */
.max-width-main{
    width: 768px;
    margin: 0 auto;
}


/* Footer */
footer{
    display: flex;
    justify-content: space-around;
}
.progress-bar {
    bottom: 100px;
    width: 500px;
    height: 3em;
    background-color: #111;
}